Source: guix
Section: unknown
Priority: extra
Maintainer: Antono Vasiljev <self@antono.info>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.3
Homepage: http://www.gnu.org/software/guix/

Package: guix
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbz2-dev, guile-2.0-dev, guile-2.0, libsqlite3-dev
Description: Purely functional package manager for the GNU system
 GNU Guix is a purely functional package manager for the GNU system,
 and a distribution thereof.
